.ipynb_checkpoints/
anaconda_projects/

# Ignore binary/large files in any features/ directory but allow markdowns (README.md)
**/features/**
!**/features/**/
!**/features/**/*.md

# Ignore files in any data/ directory but allow markdowns (README.md)
**/data/**
!**/data/**/
!**/data/**/*.md
